.Login-container {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-form {
  background-color: white;
  height: 492px;
  width: 456px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-Logo {
  height: 56px;
  width: 98px;
  margin-bottom: 30px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.input-field2 {
  display: flex;
  flex-direction: row;
  width: 84%;
}

.label-element {
  color: #7e858e;
  font-size: 12px;
  font-weight: 700;
  font-family: Roboto;
  margin-bottom: 5px;
}

.show-password-element {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  margin-left: 10px;
  margin-top: 2.5px;
}

.input-element {
  height: 40px;
  width: 360px;
  border: 1px #d7dfe9 solid;
  background-color: #ffffff;
  color: #000000;
}

.checkbox-element {
  height: 16px;
  width: 16px;
}

.login-button {
  background-color: #263868;
  color: #ffffff;
  border: 0px;
  border-radius: 8px;
  height: 40px;
  width: 360px;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
}

.error-para {
  color: #ef4444;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .Login-container{
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
  }
  .Login-form {
    height: 100%; 
    width: 100%;
    padding: 10px;
  }

  .Login-Logo {
    height: 65px;
    width: 105px; 
    margin-bottom: 20px;
  }

  .input-field{
    width: 100%;
  }

  .input-element {
    width: 100%; 
  }

  .login-button {
    width: 100%; 
    font-size: 16px; 
  }

  .input-field2 {
    width: 100%; 

  }

  .show-password-element {
    margin-left: 5px; 
    font-size: 12px; 
  }
}
