.Assessment-container {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assessment-card {
  height: 90%;
  width: 90%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.question-card {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  width: 70%;
  padding: 15px;
  margin-right: 35px;
  overflow-y: auto;
}

.right {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.timer-card {
  background-color: #475987;
  color: #ffffff;
  height: 53px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.time-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.numbers-card {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.answers-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 15%;
}

.answers-count-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.answers-count-para {
  color: #496387;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
}

.count-para1 {
  height: 34px;
  width: 34px;
  background-color: #7c599f;
  color: #ffffff;
  border: 0;
  border-radius: 100px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
}

.count-para2 {
  height: 34px;
  width: 34px;
  background-color: #f8fafc;
  color: #64748b;
  border: 1px #cbd5e1 solid;
  border-radius: 100px;
  margin-right: 5px;
  text-align: center;
  padding-top: 5px;
}

.right-lane-line {
  height: 0.5px;
  width: 100%;
  background-color: #e2e8f0;
  margin-bottom: 20px;
}

.submit-assessment-button {
  position: absolute;
  bottom: 15px;
  background-color: #ffffff;
  color: #164687;
  height: 48px;
  width: 90%;
  border: 1px solid #164687;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 500;
  margin-left: 20px;
}

.load-middle {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile view styles */
/* Mobile view styles */
@media (max-width: 768px) {
  .Assessment-container {
    background-color: #f8fafc;
    height: auto;
    width: 100%;
  }

  .assessment-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    width: 100%;
    padding: 10px;
  }

  .question-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 590px;
    width: 100%;
    order: 1;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    min-height: 494px;
    width: 100%;
  }

  .timer-card {
    height: auto;
    width: 100%;
    margin-bottom: 5px;
    border: 0px;
  }

  .time-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .numbers-card {
    background-color: #ffffff;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .answers-count {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    align-items: flex-start;
    margin-bottom: 10px;
    height: auto;
  }

  .answers-count-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
  }

  .count-para1,
  .count-para2 {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }

  .right-lane-line {
    width: 100%;
    height: 1px;
    background-color: #e2e8f0;
    margin-bottom: 5px;
  }

  .submit-assessment-button {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
}
